   
name: ci
on:
  push:
    branches:
      - "main"

env:
  AWS_REGION: "ap-south-1"
  TASKDEF_NAME: "webserer"
  CLUSTER_NAME: "demo-cluster"
  SERVICE_NAME: "web-svc"
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/real-time-file-sharing:build-${{ github.run_number }}
            ${{ secrets.DOCKERHUB_USERNAME }}/real-time-file-sharing:latest

  deploy:
    name: update task definition and service
    needs: build
    runs-on: ubuntu-latest
    environment: dev


    steps:
    
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
        aws-region: ap-south-1

    - name: Update ECS Service
        run: |
          aws ecs update-service --cluster ${{ env.CLUSTER_NAME }} --service ${{ env.SERVICE_NAME }} --force-new-deployment
      
  

    # - name: create new revision and deploy to ECS
    #   run: |
    #     sudo apt-get install jq -y
    #     jq --version
    #     aws ecs describe-task-definition --task-definition ${{ env.TASKDEF_NAME }} > task-def.json
    #     jq .taskDefinition task-def.json > taskdefinition.json
    #     jq 'del(.taskDefinitionArn)' taskdefinition.json | jq 'del(.revision)' | jq 'del(.status)' | jq 'del(.requiresAttributes)' | jq 'del(.compatibilities)' | jq 'del(.registeredAt)' | jq 'del(.registeredBy)' > container-definition.json
    #     aws ecs register-task-definition --cli-input-json file://container-definition.json
    #     aws ecs update-service --cluster ${{ env.CLUSTER_NAME }} --service ${{ env.SERVICE_NAME }} --task-definition ${{ env.TASKDEF_NAME }}
    #   shell: bash

       
  