   
name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/real-time-file-sharing:build-${{ github.run_number }}
       
  update-manifest-stage:
    runs-on: ubuntu-latest
    needs: ['build']
    steps:
      - uses: actions/checkout@v3
        with:
          repository: jayvardhan2111/real-time-file-sharing-manifest
          ref: 'master'
          token: ${{ secrets.G_TOKEN }}
      - name: setup git config
        run: |
          git config --global user.email "jayvardhanprajapat@gmail.com"
          git config --global user.name "jayvardhan2111"
          # echo ${{ github.run_number }}
          echo "$PWD"
          sed -i "s#${{ secrets.DOCKERHUB_USERNAME }}.*#${{ secrets.DOCKERHUB_USERNAME }}/real-time-file-sharing:build-${{ github.run_number }}#g" "$PWD"/config-files/deploy.yml
          git add -A
          git commit -am "Update image for - ${{ github.run_number }}"
      # - run: echo ${{ github }}
      - run: git push origin master
